## .NET / Visual Studio

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
*.user
*.userosscache
*.suo

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
[Pp]ackages/
project.lock.json
project.fragment.lock.json
artifacts/

# Test results
[Tt]est[Rr]esult*/
*.trx

# Others
*.pdb
*.cache
*.log
